# ═══════════════════════════════════════
# Server Environment Variables
# ═══════════════════════════════════════
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://fgsfgjksnvjdknfvdkbmdb_user:2Z7RAk5eCFFrDszi@cluster0.physekh.mongodb.net/?appName=Cluster0
# JWT
JWT_SECRET=qwertyasdfghzxcvbnmkjhgfrtasderf
JWT_REFRESH_SECRET=bghfvtyghjmjkijhnjhjyu7ty6tygtfr
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# Cloudinary
CLOUDINARY_CLOUD_NAME=dlfgdfgfcg1
CLOUDINARY_API_KEY=3595248565539651
CLOUDINARY_API_SECRET=UdWNSu3uME_nCiU72DW5jkhj55fg5fQ

# Client URL (for CORS)
CLIENT_URL=http://localhost:3006

# ═══════════════════════════════════════
# Client Environment Variables
# ═══════════════════════════════════════
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_SOCKET_URL=http://localhost:5000
